<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/iconfont/font_1ylc8hy783g/iconfont.css">
    <link rel="stylesheet" href="../css/index.css">
</head>

<body>
    <img src="../images/body-bg.jpg" alt="" id="background-img">
    <div class="box">
        <header>
            <aside>
                <div class="header-text">
                    <h1>博创华宇</h1>
                    <p>专门研究html互联网开发</p>
                </div>
            </aside>
            <nav>
                <ul class="nav-left">
                    <li>主页</li>
                    <li>W3CSchool</li>
                    <li>H5之家</li>
                    <li>CSS3教程</li>
                </ul>
                <div class="nav-right">
                    <input type="text" name="" id="" placeholder="靠嫩姨~~！">
                </div>
            </nav>
            <span class="iconfont icon-santiaoxian"></span>

        </header>
        <section class="nav-small">
            <ul>
                <li>主页</li>
                <li>w3c</li>
                <li>h5</li>
                <li>css3</li>
            </ul>
        </section>
        <main>
            <div class="main-left">
                <div class="main-left-box">
                    <div class="main-left-header-text">
                        <h1>响应式网站设计</h1>
                        <p>sadasda ssdasa <a href="#">xxx</a></p>
                    </div>
                    <div class="main-left-img">
                        <img src="../images/rwd2.png" alt="">
                    </div>
                    <div class="main-left-main-text">因从印度尼西亚进口1批冻带鱼1个外包装样本检出新冠病毒核酸阳性，根据海关总署公告2020年第103号的规定， 全国海关自即日起暂停接受印度尼西亚PT.PUTRI INDAH（注册编号为CR010-02）水产品生产企业产品进口申报1周，期满后自动恢复。 来源：中华人民共和国海关总署官网，如有侵权请和本公众号联系。 声明：转载此文是出于传递更多信息之目的。若有来源标注错误或侵犯了您的合法权益，请作者持权属证明与本网联系，我们将及时更正、删除，谢谢。 来源：广东公共DV现场

                    </div>
                    <div class="main-video">
                        <h1>video高清视频</h1>
                        <video src="../video/布瑞吉Bridge - Young Bridge.mp4" controls='controls'></video>
                    </div>
                </div>

            </div>
            <div class="main-right">
                <div class="main-right-box">
                    <div class="main-right-top">
                        <ul>
                            <li>
                                <h2>工具栏</h2>
                            </li>
                            <li><a href="#">WordPess(3)</a></li>
                            <li><a href="#">设计(23)</a></li>
                            <li><a href="#">设计(18)</a></li>
                        </ul>
                    </div>
                    <div class="main-right-bottom">
                        <h2>图片分享网站</h2>
                    </div>
                </div>
            </div>
        </main>
        <footer></footer>
    </div>
    <script src="../js/index.js"></script>
</body>

</html>